@import '../variable/define.scss';
@import '../variable/mixin.scss';

header {
    background: $main;
}
.title {
   max-width: $width;
   padding: 8px 10px;
   margin: 0 auto;
   @include mq(tab) {
       width: 90%;
       padding: 4px 10px;
   }
   @include mq() {
       width: 90%;
   }
   a {
       @include rem(26);
       color: $white;
       transition: 0.9s;
       @include weight(400);
       @include valign(top);
       @include mq(tab) {
           margin-left: 0;
       }
       &:hover {
           color: $white;
       }
   }
} 